@model TrebovanjaNarudzbe.Web.ViewModels.TrebovanjeViewModel

@{
    ViewBag.Title = "Trebovanje";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Naslov = "Skladište > Detalji trebovanja";
}

<style>
    .pozadinaTabele {
        background-color: #538AC5;
        color: white;
        font-size: 15px;
    }

    .pozadina {
        background-color: #ffde7b6e;
    }
</style>
<div class="container">
    <div class="row">

        <div class=" row jumbotron bg-white">
            <div class="col-md-12 text-left">
                <h3>Trebovanje: @Html.DisplayFor(model => model.SerijskiBroj)</h3>
            </div>
            <div class="col-md-6 mt-3"><h4>Narucilac: @Html.DisplayFor(model => model.ImeIPrezimeRadnika)</h4></div>
            <div class="col-md-6 mt-3"><h4>Datum podnesenog zahtjeva : @Html.DisplayFor(model => model.DatumPodnesenogZahtjeva)</h4></div>

            <hr class="my-4">
            <div class="col-md-12 mt-4 hid" id="idTrebovanja" value="@Model.TrebovanjeId">
                <ul class="list-group font-weight-bolder">
                    <li class="list-group-item pozadinaTabele">Artikli:</li>
                    @foreach (var artikl in Model.ListaArtikalaTrebovanja)
                    {
                        //if provjera ako je item preuzet da se doda zelena bg na li
                        <li class="list-group-item @if (artikl.Preuzeto) { <text>list-group-item-success</text> } else if(artikl.Spremno){<text>pozadina</text> } " rel="@artikl.ArtiklId">
                            <div class="row">
                                <div class="col-md-6">
                                    Sifra artikla: <span class="font-weight-bolder">@artikl.ArtiklId </span> <br />   Naziv: <span class="font-weight-bolder">@artikl.Naziv</span> <br /> Količina:  &nbsp;<span class="font-weight-bolder">@artikl.TrebovanaKolicina</span>
                                </div>
                                @*provjera ako je artikl cekiran cekiraj checkbox*@
                                <div class="col-md-5 text-right mr-1">
                                    @if (artikl.Spremno)
                                    {
                                        <input class="SpremnoCheckBox mr-1" type="checkbox" name="checkBoxSpremno" checked><span class="mr-4">Spremno</span>
                                    }
                                    else
                                    { <input class="SpremnoCheckBox mr-1" type="checkbox" name="checkBoxSpremno"><span class="mr-4">Spremno</span>}
                                    @if (artikl.Preuzeto)
                                    {
                                        <input class="PreuzetoCheckBox  mr-1" type="checkbox" name="checkBoxPreuzeto" checked><span>Preuzeto</span>
                                    }
                                    else
                                    { <input class="PreuzetoCheckBox  mr-1" type="checkbox" name="checkBoxPreuzeto"><span>Preuzeto</span>}
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <hr class="my-4">
                <div class="col-md-12 text-right">
                    <button id="btnSacuvajJednoTrebovanje" type="button" value="@Model.TrebovanjeId" class="btn btn-outline-primary btn-lg"><i class="fas fa-save" style="font-size:15pt;"></i>Sačuvaj</button>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-left">

            <a href="@Url.Action("AktivnaTrebovanja", "Skladiste")" class="btn btn-outline-primary btn-lg">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span>
                    <strong>Nazad na sva trebovanja</strong>
                </span>
            </a>
        </div>
    </div>




</div>

<!--modal koji ima loader u sebi-->
<div class="modal modal-backdrop fade" id="loader" tabindex="-1" role="dialog" aria-labelledby="loaderModal" aria-hidden="true">
    <div class="modal-dialog" role="document" style="top:22%">
        <div class="cssload-loader">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/Skripte/AktivnaTrebovanjaZaSkladiste.js"></script>
}
