@model TrebovanjaNarudzbe.Web.ViewModels.TrebovanjeViewModel
<div class="col-md-6">
    <div class="jumbotron shadow-lg rounded mb-5 p-4 bg-white">
        <div class="row">
            <div class="col-6">
                <h5>Serijski broj: @Model.SerijskiBroj</h5>
                <h5>Poručilac: @Model.ImeIPrezimeRadnika</h5>
            </div>
            <div class="col-6 text-right">
                <h5>Datum podnošenja zahtjeva:<br> @Model.DatumPodnesenogZahtjeva.ToShortDateString()</h5>
            </div>
        </div>
        <hr class="my-4">

        <div class="widget has-shadow">

            <div class="widget-body-no-padding">
                <div class="table-responsive">
                    <table class="table mb-0 table-bordered">
                        <thead class="bg-primary text-white">
                            <tr style="background: #538AC5;">
                                <th>Šifra artikla</th>
                                <th>Naziv artikla</th>
                                <th>Tražena količina</th>
                                <th>Količina koja nedostaje</th>
                            </tr>
                        </thead>
                        @for (int i = 0; i < Model.ListaArtikalaTrebovanja.Count(); i++)
                        {
                            <tbody>
                                @if (i % 2 == 0)
                                {
                                    <tr class="bg-white">
                                        <td>@Model.ListaArtikalaTrebovanja[i].ArtiklId</td>
                                        <td>@Model.ListaArtikalaTrebovanja[i].Naziv</td>
                                        <td>@Model.ListaArtikalaTrebovanja[i].TrebovanaKolicina</td>
                                        <td>@Model.ListaArtikalaTrebovanja[i].NedostajucaKolicna</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="bg-light">
                                        <td>@Model.ListaArtikalaTrebovanja[i].ArtiklId</td>
                                        <td>@Model.ListaArtikalaTrebovanja[i].Naziv</td>
                                        <td>@Model.ListaArtikalaTrebovanja[i].TrebovanaKolicina</td>
                                        <td>@Model.ListaArtikalaTrebovanja[i].NedostajucaKolicna</td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col-md-6">
                @if (Model.NapomenaRadnika == "")
                {
                }
                else
                {
                    <button class="btn btn-outline-info mr-1 mb-2" type="button" data-toggle="collapse" data-target="#NapomenaRadnika_@Model.TrebovanjeId"
                            aria-expanded="false" aria-controls="NapomenaRadnika_@Model.TrebovanjeId">
                        <i class="la la-question-circle"></i>  Napomena radnika
                    </button>
                }
            </div>

            <div class="col-md-6 text-right">
                @if (Model.NapomenaNadredjenog == "")
                {
                }
                else
                {
                    <button class="btn btn-outline-info mr-1 mb-2" type="button" data-toggle="collapse" data-target="#NapomenaNadredjenog_@Model.TrebovanjeId"
                            aria-expanded="false" aria-controls="NapomenaNadredjenog_@Model.TrebovanjeId">
                        <i class="la la-question-circle"></i>  Napomena nadređenog
                    </button>
                }
            </div>


            <div class="col-md-6">

                <div class="collapse multi-collapse" id="NapomenaRadnika_@Model.TrebovanjeId">
                    <div class="card card-body border border-dark font-weight-bolder p-2 m-1">
                        <p style="white-space: pre-line; color:#000000">@Model.NapomenaRadnika</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="collapse multi-collapse" id="NapomenaNadredjenog_@Model.TrebovanjeId">
                    <div class="card card-body border border-dark font-weight-bolder p-2 m-1">
                        <p style="white-space: pre-line; color:#000000"> @Model.NapomenaNadredjenog</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <hr class="my-4">
            @*<input type="submit" value="Naručeno" class="btn btn-outline-primary mr-1 mb-2">*@
            @Html.ActionLink("Naručeno", "Narucivanje", "Marketing", new { trebovanje = Model.TrebovanjeId }, new { @class = "btn btn-outline-primary mr-1 mb-2" })
        </div>
    </div>
</div>